In [13]:
import pandas as pd
import numpy as np

In [2]:
from pycaret.regression import *

In [3]:
import mlflow

In [4]:
# mlflow.set_tracking_uri('http://127.0.0.1:5000')

In [5]:
mlflow.set_tracking_uri('http://ec2-54-165-160-184.compute-1.amazonaws.com:5000')

In [6]:
# No incluir columnas
exclude = ['Posted On', 'Area Locality','Floor']

In [7]:
data = pd.read_csv('raw.csv')

In [8]:
data

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [14]:
data.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [9]:
s = setup(data, target='Rent', session_id=123, ignore_features=exclude,
          experiment_name='model_rent_lgbm', log_experiment=True)

In [10]:
# best = compare_models()

In [11]:
best = create_model('lightgbm')

In [12]:
tuned_model = tune_model(best, n_iter=20)

Fitting 10 folds for each of 20 candidates, totalling 200 fits
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] bagging_fraction is set=0.6, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2

In [12]:
final = finalize_model(tuned_model)

In [13]:
final

Pipeline(memory=Memory(location=None),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['BHK', 'Size', 'Bathroom'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['Area Type', 'City',
                                             'Furnishing Status',
                                             'Tenant Preferred',
                                             'Point of Contact'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('ordinal_encoding',
                 Tra...
                                                              handle_missing='return_nan',
                                                              use_cat_names=True))),
                ('clean_column_names',
                 TransformerWrapper(transformer=CleanColumnNames())),
                ('actual_estimator',
                 LGBMRegressor(bagging_fraction=0.6, bagging_freq=2,
                               feature_fraction=1.0, learning_rate=0.15,
                               min_child_samples=61, min_split_gain=0.8,
                               n_estimators=90, n_jobs=-1, num_leaves=70,
                               random_state=123, reg_alpha=0.0001,
                               reg_lambda=0.05))])

In [14]:
save_model(final,'model_lgb')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['BHK', 'Size', 'Bathroom'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Area Type', 'City',
                                              'Furnishing Status',
                                              'Tenant Preferred',
                                              'Point of Contact'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  Tra...
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  LGBMRegressor(bagging_fraction=0.6, bagging_freq=2,
                                feature_fraction=1.0, learning_rate=0.15,
                                min_child_samples=61, min_split_gain=0.8,
                                n_estimators=90, n_jobs=-1, num_leaves=70,
                                random_state=123, reg_alpha=0.0001,
                                reg_lambda=0.05))]),
 'model_lgb.pkl')

In [ ]:
https://8sn7ae77ld.execute-api.us-east-1.amazonaws.com/dev

In [5]:
import requests
import json

url = 'https://8sn7ae77ld.execute-api.us-east-1.amazonaws.com/dev/predict'

data = {
  "BHK": 2,
  "Size": 2000,
  "Area_Type": "Carpet Area",
  "City": "Kolkata",
  "Furnishing_Status": "Unfurnished",
  "Tenant_Preferred": "Bachelors/Family",
  "Bathroom": 2,
  "Point_of_Contact": "Contact Owner"
}

In [6]:
response = requests.post(url, data=json.dumps(data))

In [7]:
response.json()

{'prediction': 38202.46008740821}